<a href="https://colab.research.google.com/github/ansuhwa/MyMajor/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

print (a)
print (_b)
print (a_b)
print (c_d)

Lori
Sam
Ken
Jen

In [ ]:
c = "I love python"
print (c)

I love python

In [ ]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn"]
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성" ]
f = [1,2,3,4,5,6,7,8]

print (d)
print (e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['수성', '금성', '지구', '화성', '목성', '토성', '천황성']
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
str_data = ' I love python '
list_data = [ 'apple','banana','grapes','mango' ]
tuple_data = ( 'apple', 'banan', 'grapes', 'manogo' )

print (str_data)
print (list_data)
print (tuple_data)

 I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banan', 'grapes', 'manogo')

In [ ]:
str_data = ' I love python '
list_data = [ 'apple', 'banana', 'grapes', 'mango' ]
tuple_data = ( 'apple', 'banana', 'grapes', 'mango' )

print (str_data [0])
print (str_data [1])
print (str_data [2])
print (str_data [3])
print (str_data [4])

I

l
o