<a href="https://colab.research.google.com/github/ansuhwa/MyMajor/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

print (a)
print (_b)
print (a_b)
print (c_d)

Lori
Sam
Ken
Jen

In [3]:
c = "I love python"
print (c)

I love python

In [4]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn"]
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성" ]
f = [1,2,3,4,5,6,7,8]

print (d)
print (e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['수성', '금성', '지구', '화성', '목성', '토성', '천황성']
[1, 2, 3, 4, 5, 6, 7, 8]