<a href="https://colab.research.google.com/github/ansuhwa/MyMajor/blob/main/%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
b = 1

print (a+b)

c = 3
print (c)

b = 1
print (c-b)

a = 100
print (a+b)

2
3
2
101

In [ ]:
a = 1 #assign (할당한다)
a = 2

print (a)

b = 2
print (a+b)

c = 3
print (c)

a = 1000
print (a+b)

b = 2
print (c-b)
print (a+b)

b_1 = 1000
b_2 = 100000
print (b_1+b_2)

2
4
3
1002
1
1002
101000

- inter 정수 : -100, -30, -11, 0, 1, 5, 100, 302, etc.
- float 부동소수 : -100.0, -30.0, -11.0, 0.0, 0.1, 2.4, 100.32
- complex 복소수 : 실수 (real number)+ (imaginary number) (e.g., 1+5j, 3/4+10j, 파이+2j, e+3j, etc.)

- i) <font color='red'> List </font> : A list is indicated by a paair of square brackets [ ].
    ['a', 'abc', '1', '911', ' I love python' ]
- ii) <font color='red'> Tuple </font> : A tuple is indicated by a pair of brackets ( ).
    ('a','abc',1,'911','I love pyuhon')

In [ ]:
a = 1
print (a)

b = 2
print (b)

print (a+b)

c = "I love pytong"
print (c)

a = ' Lori '
_b = ' Sam '
a_b = ' Ken '
c_d = ' Jen '

print (a)
print (_b)
print (a_b)
print (c_d)

1
2
3
I love pytong
 Lori
 Sam
 Ken
 Jen

In [ ]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus" ]
e = ["수성", "금성", "지구", "화성", "목성"]
f = [1,2,3,4,5,6]

print (d)
print (e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
['수성', '금성', '지구', '화성', '목성']
[1, 2, 3, 4, 5, 6]

In [ ]:
x = 100
y = 98

if x > y :
  print ('x is greater than y.')

else :
  print ('x is smaller than or equal to y.')

x is greater than y.

In [ ]:
x = 0
y = 0

if x > y :
  print ('x is greater than y')

else :
  print ('x is smaller than or equal to y')

x is smaller than or equal to y

In [ ]:
x = 345
y = 678

if x > y :
  print ('x is greater than y.')

else :
  print ('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [3]:
listdata = ['a','b','c']
if 'a' in listdata:
  print ('a가 listdata 안에 있습니다.')
  print(listdata)

a가 listdata 안에 있습니다.
['a', 'b', 'c']

In [8]:
numbers = (1,2,3,4,5,6,7,8,9)
print (numbers)
print ('\n')

for i in numbers:
  print (i)

(1, 2, 3, 4, 5, 6, 7, 8, 9)


1
2
3
4
5
6
7
8
9

In [9]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)

1
2
3
4
5

In [10]:
scope = [1,2,3,4,5,6]
for y in scope :
  print (y)

1
2
3
4
5
6

In [11]:
name = ['sam','emily','todd']
for i in name:
  print (i)

sam
emily
todd

In [17]:
class = [ 'Sam','Emily','todd' ]
for i in class:
  print (i)

SyntaxError: invalid syntax (<ipython-input-17-02e007a80589>, line 1)

In [18]:
name = ['sam','Emily','Todd']
for i in name:
  print (i)

sam
Emily
Todd